#member-image {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#member-name {
    font-size: medium;
    font-weight: bolder;
    margin-left: 10px;
}

#absence-type {
    text-transform: capitalize;
}

#member-description {
    margin-top: 5px;
}

@media screen and (max-width: 480px) {
    #member-image {
        width: 40px;
        height: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #member-description {
        margin-top: 5px;
        font-size: small;
    }
}