#header-bar {
    padding: 20px;
}

#header-title {
    font-size: x-large;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    #header-title {
        font-size: medium;
        font-weight: bold;
    }
}